.input {
  display: block;
  width: 100%;
  position: relative;
  input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: solid 2px #ccc;
    padding: 0 40px 0 20px;
    font-family: inherit;
    font-size: 18px;
  }
  button {
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    border: none;
    background: transparent;
  }
}
